<p id="notice"><%= notice %></p>

<p>
  <b>Tvshow:</b>
  <%= @name_deviation.tvshow_id %>
</p>

<p>
  <b>Season number:</b>
  <%= @name_deviation.season_number %>
</p>

<p>
  <b>Episode number:</b>
  <%= @name_deviation.episode_number %>
</p>

<p>
  <b>Tvshow title:</b>
  <%= @name_deviation.tvshow_title %>
</p>

<p>
  <b>Enabled:</b>
  <%= @name_deviation.enabled %>
</p>

<p>
  <b>Type:</b>
  <%= @name_deviation.type %>
</p>


<%= link_to 'Edit', edit_name_deviation_path(@name_deviation) %> |
<%= link_to 'Back', name_deviations_path %>
