= form_for @tfile do |f|
  - if @tfile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tfile.errors.count, "error")} prohibited this tfile from being saved:"
      %ul
        - @tfile.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :length
    = f.number_field :length
  .field
    = f.label :bytes_completed
    = f.number_field :bytes_completed
  .field
    = f.label :rename_status
    = f.text_field :rename_status
  .field
    = f.label :rename_data
    = f.text_field :rename_data
  .field
    = f.label :torrent
    = f.text_field :torrent
  .actions
    = f.submit 'Save'
