
%h3= @tvshow.title
= image_tag("/images/#{@tvshow.ttdb_id}_banner.jpg", :alt => @tvshow.title)
%br
= @tvshow.overview
%br
= link_to('TTDB URL', "http://thetvdb.com/?tab=series&id=#{@tvshow.ttdb_id}")
|
= link_to('TVR URL', @tvshow.tvr_url)
|
= link_to('Episodes', tvshow_episodes_path(@tvshow))
|
= link_to('Edit', edit_tvshow_path(@tvshow))
|
= link_to('Back', tvshows_path)
