
<h3><%= @tvshow.ttdb_show_title %></h3>
<br />
<%= image_tag("#{@tvshow.ttdb_show_id}_banner.jpg", :alt => @tvshow.ttdb_show_title) %>
<br />
<%= @tvshow.ttdb_show_overview %>
<br /><br />
<%= link_to 'Episodes', tvshow_episodes_path(@tvshow) %>|
<%= link_to 'Back', tvshows_path %>
