
.row
  .col-xs-6.col-sm-3
    .thumbnail
      %img(src="/images/#{@tvshow.ttdb_id}/#{@tvshow.ttdb_id}_poster.jpg" alt="@tvshow.title")
  .col-xs-6.col-sm-9
    %h3= @tvshow.title
    = @tvshow.overview
    %br
    %br
    = "Location - #{@tvshow.location}"
    %br
    = "XDB ID - #{@tvshow.xdb_id}"
    %br
    = "First Aired - #{@tvshow.first_aired}"
    %br
    = "Data Last Updated - #{@tvshow.ttdb_last_updated}"
    %br
    = "Airing Network - #{@tvshow.network}"
    %br
    = "Runtime - #{@tvshow.runtime}"
    %br
    ="Latest Episode - #{@tvshow.episodes.find(@tvshow.latest_episode).title}"
    %br
.row
.panel-group(id="accordion" role="tablist" aria-multiselectable="true")
  - (@tvshow.episodes.minimum("season_num")..@tvshow.episodes.maximum("season_num")).each do |season_num|
    .panel.panel-default
      .panel-heading(role="tab" id="heading#{season_num}")
        %h4.panel-title
          %a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse#{season_num}" aria-expanded="true" aria-controls="collapse#{season_num}")
            = "Season #{season_num}"
      .panel-collapse.collapse(id="collapse#{season_num}" role="tabpanel" aria-labelledby="heading#{season_num}")
        .panel-body
          .row
            - @tvshow.episodes.where(season_num: season_num).each do |ep|
              .col-xs-4.col-md-4
                .thumbnail
                  =unless ep.thumb_url.empty?
                    %img(src="/images/#{ep.tvshow.ttdb_id}/episode/#{ep.ttdb_id}_thumb.jpg" alt="boo")
                  .caption
                    %h4= "#{ep.episode_num} - #{ep.title}"
                    %p= ep.overview
              - if ep.episode_num%3 == 0
                .row
%br
= link_to('TTDB URL', "http://thetvdb.com/?tab=series&id=#{@tvshow.ttdb_id}")
|
= link_to('Episodes', tvshow_episodes_path(@tvshow))
|
= link_to('Edit', edit_tvshow_path(@tvshow))
|
= link_to('Back', tvshows_path)
