<h3>Library statistics</h3>
Total Shows <%= @tvshows.count  %>
<br />
Total Episodes <%= @episodes.count  %>
<br />
Missing Episodes <%= @episodes.missing.count %>
<br />
Collection Grade <%= @completeness  %>
<br />
<%= link_to("Home", root_path)  %>
<%= button_to("rename", :action => "rename", :controller => "home") %>

<br />
<br />
<%=image_tag("rails.png", alt: "Yeah")%>
