%h3= "Downloads in Transmission"
%table.table
  %thead
    %tr
      %th= "Name"
      %th= "Size"
      %th= "Percent"
  %tbody
    - unless @transmission_dls == nil
      - @transmission_dls.each do |dl_item|
        %tr
          %td= dl_item["name"]
          %td= dl_item["totalSize"]
          %td= dl_item["percentDone"]*100
%form
  %label.usr Upload Torrent
  %input{:type => "text", :class => "form-control", :id => "usr"}
  <button type="button" class="btn btn-primary btn-lg">Large</button>
  %button.
%h3= "Files in Finished Directory"
%table.table
  %thead
    %tr
      %th= "Files"
  - @finished_dir.each do |file|
    %tr
      %td= file
%h5= "Library statistics"
%h5= "TV Shows #{@tvshows.count}"
%h5= "Total Episodes #{@episodes.count}"
%h5= "Missing Episodes #{@episodes.missing.count}"
%h5= "Collection Grade #{@completeness}"
