<h1><%= "Here is the Index!"  %></h1>
<%= link_to("All TV Shows", tvshows_path)  %>
<br />
<%= link_to("TV Show Forcast", forcast_tvshows_path)  %>
<br />
<%= link_to("Missing Episodes", episodes_missing_path)  %>
<br />
<%= link_to("Home", root_path)  %>
<br />

