%h3="Renaming Results"
%br

- if @rename_success.empty? and @rename_failure.empty?
  %h3="No Results"
- unless @rename_success.empty?
  %h3="SUCCESS"
  %table.table.table-hover
    %thead
      %tr
        %th= "Original Name"
        %th= "New Name"
    %tbody
      - @rename_success.each do |success|
        %tr>
          %td= success[:success][:old_name]
          %td= success[:success][:new_name]
- unless @rename_failure.empty?
  %h3= "FAILURE"
  %table.table.table-hover
    %thead
      %tr
        %th= "File Name"
        %th= "Failure Reason"
    %tbody
      - @rename_failure.each do |failure|
        %tr
          %td= failure[:failure][:old_name]
          %td= failure[:failure][:reason]
          %td= link_to("search", ttdbsearch_path(show_title: failure[:failure][:show_title]))
