<h3> <%= "Listing all Settings" %></h3>

<table>
  <tr>
    <th>Setting</th>
    <th>value</th>
    <th>notes</th>
    <th>updated_at</th>
  </tr>

  <% @settings.each do |setting| %>
    <tr>
      <td><%= link_to(setting.name, edit_setting_path(setting))%>
       <td><%= setting.value %></td>
       <td><%= setting.notes %></td>
       <td><%= setting.updated_at.in_time_zone("Eastern Time (US & Canada)").time %></td>
   </tr>
<% end %>
</table>
<%= button_to("new", new_setting_path, :method => :get) %>
