%h3= "#{@setting.name}"
%table.table
  %thead
    %tr
      %th= "Setting"
      %th= "value"
      %th= "notes"
  %tbody
    %tr
      %td= @setting.name
      %td= @setting.value
      %td= @setting.notes

= button_to("Delete", @setting, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger btn-sm")
= button_to("Edit", @setting, method: :edit, :class => "btn btn-primary btn-sm")
