<meta http-equiv="refresh" content="5" />
%h1 Listing #{Torrent.count} Torrents
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Status
      %th Size
      %th Percent
      %th Eta
      %th Rename Status
      %th

  %tbody
    - @torrents.each do |torrent|
      %tr
        %td= link_to torrent.name, torrent
        %td= torrent.status_to_s
        %td= Filesize.from("#{torrent.size} B").pretty
        %td= torrent.percent
        - if torrent.completed
          %td= "Complete"
        - else
          %td= torrent.pretty_eta
        %td= torrent.rename_status
        %td= link_to 'Files', torrent_tfiles_path(torrent)
        - unless torrent.xmission_id.nil?
          %td= button_to 'Remove', torrent, :controller => Torrent, :action => "remove_torrent", :class => "btn btn-primary btn-sm"
        - else
          %td
        %td= button_to 'Destroy', torrent, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary btn-sm"
