%h1 Listing #{Torrent.count} Torrents
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Status
      %th Size
      %th Percent
      %th Completed
      %th
      %th
      %th
  %tbody
    - @torrents.each do |torrent|
      %tr
        %td= link_to torrent.name, torrent
        %td= torrent.status
        %td= torrent.size
        %td= torrent.percent
        %td= torrent.completed
        %td= link_to 'Destroy', torrent, :method => :delete, :data => { :confirm => 'Are you sure?' }
