%h1 Listing torrents

%table
  %thead
    %tr
      %th Name
      %th Status
      %th Size
      %th Percent
      %th Completed
      %th Files
      %th
      %th
      %th
  %tbody
    - @torrents.each do |torrent|
      %tr
        %td= torrent.name
        %td= torrent.status
        %td= torrent.size
        %td= torrent.percent
        %td= torrent.completed
        %td= link_to 'Show', torrent
        -#%td= link_to 'Edit', edit_torrent_path(torrent)
        %td= link_to 'Destroy', torrent, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= link_to 'New Torrent', new_torrent_path
