%p#notice= notice
%p
  %b Hash string:
  = @torrent.hash_string
%p
  %b Time started:
  = @torrent.time_started
%p
  %b Time completed:
  = @torrent.time_completed
%p
  %b Name:
  = @torrent.name
%p
  %b Size:
  = @torrent.size
%p
  %b Status:
  = @torrent.status
%p
  %b Percent:
  = @torrent.percent
%p
  %b Completed:
  = @torrent.completed
%p
  %b Files:
  %ul
  - @torrent.files.each do |torrent|
    %li=torrent["name"]
%p
  %b Eta:
  =@torrent.eta
%p
  %b Xmission ID
  =@torrent.xmission_id
%p
  %b Rate Download
  =@torrent.rate_download
= link_to 'Back', torrents_path
