<h3><%= "Listing #{@episodes.count} Episodes"  %></h3>
<table>
  <tr>
    <th>Episode</th>
    <th>Episode Airdate</th>
    <th>XBMC Episode ID</th>
  </tr>

<% @episodes.each do |episode| %>
  <tr>

    <td><%=episode.tvshow.ttdb_show_title + " - " + 
    "s" '%02d' % episode.ttdb_season_number + "e" + 
    '%02d' % episode.ttdb_episode_number + " - " + 
    episode.ttdb_episode_title %></td>
    <td><%= episode.ttdb_episode_airdate %></td>
    <td><%= episode.xdb_episode_id %></td>
    <td><%= link_to 'show', "/episodes/#{episode.id}" %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', tvshows_path  %></td>
<br />

