!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= content_for?(:title) ? yield(:title) : "JUWI"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
  %body
    = render "layouts/navigation"
    .container
      .content
        .row
          .col-xs-12
            -#= render 'admin/layouts/flash'
            = yield
      .footer
