<!DOCTYPE html>
<html>
<head>
  <title>Juwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><%= link_to("MediaMonster", root_path)  %></h3>

TV Shows | <%= link_to("All", tvshows_path)  %> |
<%= link_to("Forcast", forcast_tvshows_path)  %> |
<%= link_to("Recently Canceled", recently_canceled_tvshows_path) %> |
<br />
Episodes |<%= link_to("All", episodes_path) %> |
<%= link_to("Recently Aired", episodes_recently_aired_path) %> |
<%= link_to("Missing", episodes_missing_path)  %> |
<br />
<%= link_to("Settings", settings_path) %>
<%= yield %>

</body>
</html>
